[user]
	email = theoldmoon0602@gmail.com
	name = theoremoon
[core]
	editor = nvim

[credential]
	helper = cache --timeout=3600

# [url "github:"]
#     pushInsteadOf = https://github.com/
#     insteadOf = git@github.com:

[url "bitbucket:"]
    insteadOf = https://theoldmoon0602@bitbucket.org/
    pushInsteadOf = git@bitbucket.org:

