[user]
	email = theoldmoon0602@gmail.com
	name = theoldmoon0602
[core]
	editor = nvim

[url "github:"]
    pushInsteadOf = https://github.com/
    insteadOf = git@github.com:

[url "bitbucket:"]
    insteadOf = https://theoldmoon0602@bitbucket.org/
    pushInsteadOf = git@bitbucket.org:
