[user]
	email = theoldmoon0602@gmail.com
	name = theoremoon

[include]
	path = ~/.company-gitconfig

[core]
	editor = nvim

[credential]
	helper = store

# [url "github:"]
#     pushInsteadOf = https://github.com/
#     insteadOf = git@github.com:

[url "bitbucket:"]
    insteadOf = https://theoldmoon0602@bitbucket.org/
    pushInsteadOf = git@bitbucket.org:

# [url "gitlab:"]
#     pushInsteadOf = git@gitlab.com:

[github]
	user = theoremoon
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
